@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-y-hidden;
}

.button {
    @apply btn;
    @apply border-yellow-500;
    @apply hover:border-orange-500;
    justify-content: left;
}

.text-shadow {
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}

@layer utilities {
    @layer responsive {
        /* Hide scrollbar for Chrome, Safari, and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge, and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
